.Todo {
    &-Footer {
       &-Container {
        background-color: #fff;
        padding: 1rem 2rem;
        position: relative;
        z-index: inherit;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: .5rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px) {
            justify-content: space-between;
         }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                padding: .5rem 1rem;
                font-weight: 600;
                color: #999;
                cursor: pointer;
            }
        }
       }

       &-Dark {
           background-color: #25273d
       }

       &-Active {
           span {
            color: #4c77d7;
           }
       }
       &-Items,
       &-Clear {
           display: none;
           color: #999;

           @media (min-width: 768px) {
               display: block;
            }
       }

    }
}