.Todo {
    &-Footer {
       &-Container {
        background-color: #fff;
        padding: 1rem;
        position: relative;
        z-index: inherit;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: .5rem;
        margin-bottom: 2rem;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                padding: .5rem 1rem;
                font-weight: 600;
                color: #999;
                cursor: pointer;
            }
        }
       }

       &-Dark {
           background-color: #25273d
       }

       &-Active {
           span {
            color: #4c77d7;
           }
       }
    }
}